<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <div class="navbar-no-shadow wf-section">
          <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-no-shadow-container w-nav">
            <div class="container-regular">
              <div class="navbar-wrapper">
                <a href="#" class="navbar-brand w-nav-brand"><img src="images/Frame-23.png" loading="lazy" width="165" alt=""></a>
                <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
                  <ul role="list" class="nav-menu w-list-unstyled">
                    <li>
                      <a href="#" class="nav-link">Home</a>
                    </li>
                    <li>
                      <a href="#" class="nav-link">Feature</a>
                    </li>
                    <li>
                      <a href="#" class="nav-link">Testimonial</a>
                    </li>
                    <li>
                      <a href="#" class="nav-link">FAQ</a>
                    </li>
                    <li>
                      <div data-hover="false" data-delay="0" class="nav-dropdown w-dropdown">
                        <div class="nav-dropdown-toggle w-dropdown-toggle">
                          <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
                          <div>Contact</div>
                        </div>
                        <nav class="nav-dropdown-list shadow-three mobile-shadow-hide w-dropdown-list">
                          <a href="#" class="nav-dropdown-link w-dropdown-link">Resource Link 1</a>
                          <a href="#" class="nav-dropdown-link w-dropdown-link">Resource Link 2</a>
                          <a href="#" class="nav-dropdown-link w-dropdown-link">Resource Link 3</a>
                        </nav>
                      </div>
                    </li>
                  </ul>
                </nav>
                <div class="menu-button w-nav-button">
                  <div class="w-icon-nav-menu"></div>
                </div>
                <a href="#" class="button w-button">Get Started</a>
              </div>
            </div>
          </div>
        </div>
        <div class="section-7 wf-section">
          <div class="container">
            <div>
              <h1 data-w-id="8d225416-b6bf-fa6f-7ca4-64f6d07091b3" style="opacity:0" class="heading">Organize, Plan, and <span class="text-span">collaborate</span><span> </span>with ease.</h1>
              <p data-w-id="a4444507-a5ae-ad89-8867-53e8694ce78c" style="opacity:0" class="paragraph-2">Taskbit is a simple, elegant and easy-to-use project management tool. it is designed to help either achieve goals, or groups of individuals collaborate and project task management</p>
              <div data-w-id="c2521fda-9e45-3266-41ba-32b14e54d983" style="opacity:0" class="div-block"><img src="images/Mobile-app-store-badge.png" loading="lazy" width="134" alt="" class="image-101"><img src="images/Mobile-app-store-badge-1.png" loading="lazy" width="133" alt=""></div>
            </div>
            <div id="w-node-e886f3c3-c083-41a5-cb6d-778410f1a83d-9763acb8" class="div-block-2"><img class="image-102" src="images/Hero-Image-3.png" width="317" height="" alt="" style="opacity:0" sizes="316.9965515136719px" data-w-id="c1d365a8-31c8-799b-7251-739d0021e453" loading="lazy" srcset="images/Hero-Image-3-p-500.png 500w, images/Hero-Image-3-p-800.png 800w, images/Hero-Image-3-p-1080.png 1080w, images/Hero-Image-3.png 1302w"></div>
          </div>
        </div>
        <div class="section-2 wf-section"><img src="images/Ornament-11.png" loading="lazy" width="102" alt="" class="image-110">
          <div class="div-block-3">
            <h1 data-w-id="f7b60991-c811-524f-c448-b26da9fe35f8" style="opacity:0" class="heading-4">Trusted by Company Like</h1>
            <div class="div-block-5"><img src="images/Gojek-Indonesia-Logo-undefined.png" loading="lazy" id="w-node-ff8dd531-cb27-23e4-55d2-8f5555eeb123-9763acb8" alt=""><img src="images/Tokopedia-Logo-undefined.png" loading="lazy" id="w-node-db1ab026-f882-4768-69ae-f5c70677afef-9763acb8" alt=""><img src="images/Google-Logo-undefined.png" loading="lazy" id="w-node-_97aecc4d-72be-bddf-6fe0-ea3b27b3c1da-9763acb8" alt=""><img src="images/Tableau-Logo-undefined.png" loading="lazy" id="w-node-_90c1a39e-dd99-7a38-6ece-b0384e891d6f-9763acb8" alt=""><img src="images/Adobe-Logo-undefined.png" loading="lazy" id="w-node-_80891b88-e1bd-8ee0-ba0e-4d30a0189920-9763acb8" alt=""></div>
            <div class="w-layout-grid grid-2"><img src="images/Gojek-Indonesia-Logo-undefined.png" loading="lazy" id="w-node-_0caf5691-6c5a-c3b1-e49c-91e852a87964-9763acb8" alt=""><img src="images/Tokopedia-Logo-undefined.png" loading="lazy" id="w-node-_7388ef75-fbda-3c83-a3a6-291b9f16a85b-9763acb8" alt=""><img src="images/Google-Logo-undefined.png" loading="lazy" id="w-node-_61408e56-211a-36ad-eec2-5d1d324732b4-9763acb8" alt=""><img src="images/Tableau-Logo-undefined.png" loading="lazy" id="w-node-_585fae2c-2caf-8c0f-0f91-b3c77d42bb77-9763acb8" alt=""><img src="images/Adobe-Logo-undefined.png" loading="lazy" id="w-node-c83b59e7-5775-68a1-6397-16a3d861ddee-9763acb8" alt=""></div>
          </div>
        </div>
        <div class="wf-section">
          <div class="div-block-6"><img src="images/Group-8.png" loading="lazy" data-w-id="5d47b232-38ff-f5fa-bc8c-1f2b5d684159" id="w-node-_5d47b232-38ff-f5fa-bc8c-1f2b5d684159-9763acb8" sizes="(max-width: 479px) 90vw, 100vw" srcset="images/Group-8-p-500.png 500w, images/Group-8-p-800.png 800w, images/Group-8.png 874w" alt="">
            <div id="w-node-d1ff5c8c-27b3-af33-96e1-9df0262437b7-9763acb8">
              <h1 id="w-node-_6fd32f41-46bf-6a18-a680-617790611a0d-9763acb8" data-w-id="6fd32f41-46bf-6a18-a680-617790611a0d" style="opacity:0" class="heading-5">Awesome Features</h1>
              <p data-w-id="091ed04f-f591-3c1e-3f82-c7781612d1be" style="opacity:0" class="paragraph-4">Provides advanced features like time tracking, integrating with third party apps (calender / Google drive), craeting subtasks. It is great for task management, project management and collaboration</p>
              <div data-w-id="97f475bd-a6bd-f4d0-2a4d-cef0d01b79ae" style="opacity:0" class="w-layout-grid grid">
                <div id="w-node-_5b57c9b0-f3ee-a790-72cd-ada013c89766-9763acb8" class="div-block-7">
                  <div class="div-block-8"><img src="images/Group-892.png" loading="lazy" width="94" alt=""></div>
                  <div>
                    <h1 id="w-node-b1c8a340-04fb-8aef-5786-33cacc67155b-9763acb8" class="heading-6"><strong class="bold-text">Advance Project View</strong></h1>
                    <p class="paragraph-6">Can plan and structure work how you want. Quickly organizing tasks, can prioritize what is most important.</p>
                  </div>
                </div>
                <div id="w-node-c641ba46-ccd5-dd76-3330-3a1a12af3ae0-9763acb8" class="div-block-9">
                  <div class="div-block-10"><img src="images/Group-892-1.png" loading="lazy" width="71" alt=""></div>
                  <div>
                    <h1 class="heading-7">App Integrations</h1>
                    <p class="paragraph-8">Bring all your tools and data together it also integrates with hundreds of other apps</p>
                  </div>
                </div>
                <div id="w-node-_2e6f0387-c5f8-5d44-f8ce-075a434cb2f8-9763acb8" class="div-block-11">
                  <div class="div-block-12"><img src="images/Group-892-2.png" loading="lazy" width="84" alt=""></div>
                  <div>
                    <h1 class="heading-8">Data Reporting</h1>
                    <p class="paragraph-10">Get real time insight into progress and stream of work. Allows teams to track their work habits</p>
                  </div>
                </div>
                <div id="w-node-_75c40531-b112-0e42-765b-6a3081949e15-9763acb8" class="div-block-13">
                  <div class="div-block-14"><img src="images/Group-892-3.png" loading="lazy" width="89" alt=""></div>
                  <div>
                    <h1 class="heading-9">Workflow Builder</h1>
                    <p class="paragraph-12">Automated processes to coordinate your teams. Increase communication and collaboration between teams.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section cloneables-listing padding-top-0 wf-section">
          <div class="cloneable-container-default center">
            <div class="container-default _100 w-container">
              <div class="container-700px-center">
                <h1 data-w-id="6e24f42c-b4af-2ef8-9b73-8d62a3bc8293" style="opacity:0" class="heading-10">Easy to management<br>your task</h1>
                <p data-w-id="add0d3b8-fb30-407a-835d-8ea4fe7286c8" style="opacity:0" class="paragraph-13">Choose the project view that suits your style, and collaborate no matter where you are</p>
              </div>
              <div data-current="Tab 2" data-easing="ease" data-duration-in="300" data-duration-out="100" class="tabs---brix flex-horizontal tablet-vertical w-tabs">
                <div data-w-id="c2721f21-0a09-6f61-7dc6-9f1b604a1188" style="opacity:0" class="tabs-menu---brix v2 w-tab-menu">
                  <a data-w-tab="Tab 1" data-w-id="c2721f21-0a09-6f61-7dc6-9f1b604a1189" class="tab-link-accordion---brix w-inline-block w-tab-link">
                    <div class="flex-horizontal space-between">
                      <div class="left-accordion">
                        <div class="text-block-2">Boards - Kanban View</div>
                      </div><img loading="lazy" src="images/tabs-arrow-black.svg" alt="" class="arrow-icon---brix">
                    </div>
                    <div class="accordion-tab-content---brix">
                      <div class="spacer"></div>
                      <p class="paragraph-default mg-bottom-0">Organize and assign tasks. With lists, teams see immediately what they need to do, which tasks are a priority, and when work is due</p>
                    </div>
                  </a>
                  <a data-w-tab="Tab 2" data-w-id="c2721f21-0a09-6f61-7dc6-9f1b604a118d" style="color:rgb(111,108,144);border-color:rgb(239,240,246);background-color:rgb(255,255,255)" class="tab-link-accordion---brix w-inline-block w-tab-link w--current">
                    <div class="flex-horizontal space-between">
                      <div class="left-accordion">
                        <div class="text-block-3">Timeline - Task and Deadlines Connect</div>
                      </div><img loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" src="images/tabs-arrow-black.svg" alt="" class="arrow-icon---brix">
                    </div>
                    <div style="height:0px" class="accordion-tab-content---brix">
                      <div class="spacer"></div>
                      <p class="paragraph-default mg-bottom-0">Organize and assign tasks. With lists, teams see immediately what they need to do, which tasks are a priority, and when work is due</p>
                    </div>
                  </a>
                  <a data-w-tab="Tab 3" data-w-id="c2721f21-0a09-6f61-7dc6-9f1b604a1191" style="color:rgb(111,108,144);border-color:rgb(239,240,246);background-color:rgb(255,255,255)" class="tab-link-accordion---brix w-inline-block w-tab-link">
                    <div class="flex-horizontal space-between">
                      <div class="left-accordion">
                        <div class="text-block-4">List View - Detail View</div>
                      </div><img loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" src="images/tabs-arrow-black.svg" alt="" class="arrow-icon---brix">
                    </div>
                    <div style="height:0px" class="accordion-tab-content---brix">
                      <div class="spacer"></div>
                      <p class="paragraph-default mg-bottom-0">Organize and assign tasks. With lists, teams see immediately what they need to do, which tasks are a priority, and when work is due</p>
                    </div>
                  </a>
                  <a data-w-tab="Tab 4" data-w-id="0b63febf-0c7e-3492-a87b-a26698881ce2" style="color:rgb(111,108,144);border-color:rgb(239,240,246);background-color:rgb(255,255,255)" class="tab-link-tab-4 w-inline-block w-tab-link">
                    <div class="flex-horizontal space-between">
                      <div class="left-accordion">
                        <div class="text-block-4">Calender - Share Team Calender</div>
                      </div><img loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" src="images/tabs-arrow-black.svg" alt="" class="arrow-icon---brix">
                    </div>
                    <div style="height:0px" class="accordion-tab-content---brix">
                      <div class="spacer"></div>
                      <p class="paragraph-default mg-bottom-0">Organize and assign tasks. With lists, teams see immediately what they need to do, which tasks are a priority, and when work is due</p>
                    </div>
                  </a>
                </div>
                <div data-w-id="c2721f21-0a09-6f61-7dc6-9f1b604a1195" style="opacity:0" class="tabs-content---brix v2 w-tab-content">
                  <div data-w-tab="Tab 1" class="w-tab-pane"><img sizes="100vw" srcset="images/Mockup-p-500.png 500w, images/Mockup-p-800.png 800w, images/Mockup-p-1080.png 1080w, images/Mockup-p-1600.png 1600w, images/Mockup.png 1680w" loading="lazy" src="images/Mockup.png" alt=""></div>
                  <div data-w-tab="Tab 2" class="w-tab-pane w--tab-active"><img sizes="(max-width: 479px) 90vw, (max-width: 767px) 74vw, 100vw" srcset="images/advanced-analytics-brix-templates-tabs-p-500.png 500w, images/advanced-analytics-brix-templates-tabs-p-800.png 800w, images/advanced-analytics-brix-templates-tabs.png 1316w" loading="eager" src="images/advanced-analytics-brix-templates-tabs.png" alt="" class="image-100"></div>
                  <div data-w-tab="Tab 3" class="w-tab-pane"><img sizes="(max-width: 479px) 90vw, (max-width: 767px) 74vw, 100vw" srcset="images/advanced-analytics-brix-templates-tabs-p-500.png 500w, images/advanced-analytics-brix-templates-tabs-p-800.png 800w, images/advanced-analytics-brix-templates-tabs.png 1316w" loading="eager" src="images/advanced-analytics-brix-templates-tabs.png" alt="" class="image-100"></div>
                  <div data-w-tab="Tab 4" class="w-tab-pane"><img sizes="(max-width: 479px) 90vw, (max-width: 767px) 74vw, 100vw" srcset="images/advanced-analytics-brix-templates-tabs-p-500.png 500w, images/advanced-analytics-brix-templates-tabs-p-800.png 800w, images/advanced-analytics-brix-templates-tabs.png 1316w" loading="eager" src="images/advanced-analytics-brix-templates-tabs.png" alt="" class="image-100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wf-section">
          <div class="div-block-15">
            <div class="div-block-16"><img src="images/Frame-250.png" loading="lazy" style="opacity:0" data-w-id="71c3a992-01ce-dc3b-be66-3ac2b1c03131" sizes="100vw" srcset="images/Frame-250-p-500.png 500w, images/Frame-250-p-800.png 800w, images/Frame-250.png 848w" alt=""></div>
            <div id="w-node-b029d061-0e3a-b804-9e11-1260e5df62b4-9763acb8" class="div-block-33">
              <h1 data-w-id="e7437509-7337-56a8-7a8c-0bfec5e1ad8b" style="opacity:0" class="heading-11">Integrate to your tools</h1>
              <p data-w-id="8f7a6431-70c3-0bc3-713a-3bc9e3081b08" style="opacity:0" class="paragraph-20">Leverage 500+ integrations to work seamlessly, and 3000+ other extensions to craft your team&#x27;s perfect process. You can bring together everything your team needs to communicate, collaborate, and coordinate work, from start to finish.</p>
              <a data-w-id="6ab3e957-73df-b4fd-a022-0c151843d66f" style="opacity:0" href="#" class="button-2 w-button">Learn More</a>
            </div>
          </div>
        </div>
        <div class="section-3 wf-section">
          <div class="div-block-17">
            <div data-w-id="366d7c05-5b2f-8b4c-0699-e91830895582" style="opacity:0" class="div-block-18">
              <h1 class="heading-12">What do they say</h1>
              <p class="paragraph-17"><strong class="bold-text-2">&quot;That helps us organize and coordinate our workflow. it&#x27;s been an invaluable tool to help us stay on top of our projects, as well as plan ahead and stay ahead of deadlines&quot;</strong></p>
              <div class="div-block-19">
                <div>
                  <div class="text-block-9"><span class="text-span-2"><strong class="bold-text-3">Albert GIlbert</strong></span></div>
                  <div class="text-block-8">Co Founder &amp; CTO</div>
                </div>
                <div class="div-block-20"><img src="images/Frame-241.png" loading="lazy" width="104" alt="" class="image-103"></div>
              </div>
            </div>
            <div class="div-block-32"><img src="images/Group-897-1.png" loading="lazy" width="305" style="opacity:0" sizes="(max-width: 479px) 100vw, (max-width: 767px) 11vw, (max-width: 1439px) 26vw, 305px" srcset="images/Group-897-1-p-500.png 500w, images/Group-897-1-p-800.png 800w, images/Group-897-1-p-1080.png 1080w, images/Group-897-1.png 1166w" data-w-id="99ad24f8-ee72-7d80-6750-53582f8cdc29" alt=""></div>
          </div>
        </div>
        <div class="section-4 wf-section">
          <div class="div-block-21">
            <div class="div-block-22"><img src="images/Mockup-1.png" loading="lazy" style="opacity:0" data-w-id="90fc8133-1829-8435-3c2c-e840d57bd17e" sizes="100vw" srcset="images/Mockup-1-p-500.png 500w, images/Mockup-1-p-800.png 800w, images/Mockup-1-p-1080.png 1080w, images/Mockup-1.png 1208w" alt="" class="image-104"></div>
            <div class="div-block-23">
              <h1 data-w-id="27a71362-566c-25c3-68fb-1bb743b8887b" style="opacity:0" class="heading-13">Try it for free now</h1>
              <p data-w-id="789b2f65-97b9-6f4f-118f-fad82804e07f" style="opacity:0" class="paragraph-19">See how powerful our app to managed your task. Makes your life easy, daily planning and helps to achieve your goal and organize everything that matters to you.</p>
              <div class="div-block-24"><img src="images/Mobile-app-store-badge.png" loading="lazy" width="137" data-w-id="0abeaf54-ba3b-364c-2545-1a82ff449077" alt="" class="image-105"><img src="images/Mobile-app-store-badge-1.png" loading="lazy" width="139" data-w-id="efda7136-2b9c-ac61-6999-c71194a50d47" alt=""></div>
            </div>
          </div>
        </div>
        <div class="section-5 wf-section">
          <div class="div-block-25">
            <div id="w-node-da69bc47-6ac9-2345-d504-f0445c6edefe-9763acb8"><img src="images/Frame-23-1.png" loading="lazy" width="239" alt=""><img src="images/Frame-232.png" loading="lazy" width="157" alt="" class="image-106"></div>
            <div id="w-node-_64878777-326f-95f1-f8bc-c72be072536c-9763acb8" class="div-block-26">
              <div class="div-block-27">
                <div class="text-block-11">Blog<br><br><span class="text-span-3">Company <br><br>Career<br><br>How it Work</span></div>
              </div>
              <div class="div-block-28">
                <div class="text-block-12">About<br><br><span class="text-span-4">About Us<br><br>FAQ<br><br>Contact</span></div>
              </div>
              <div class="div-block-29">
                <div class="text-block-13">Product<br><br><span class="text-span-5">Privasi Policy<br><br>Term &amp; Conditions<br><br>Support</span></div>
              </div>
              <div>
                <div class="text-block-14">Download App</div>
                <div class="div-block-30"><img src="images/Frame-233.png" loading="lazy" width="136" alt="" class="image-108"><img src="images/Frame-234.png" loading="lazy" width="142" alt=""></div>
              </div>
            </div>
          </div>
          <div class="text-block-15">Copyright 2022-All rights reserved-Taskbit</div>
        </div>
        <div class="section-6 wf-section">
          <div class="div-block-31">
            <h1>JUDUL ARTIKEL KALIAN</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
          </div>
        </div>
        <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=62fa0af1161d3abf6c63acb4" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="js/webflow.js" type="text/javascript"></script>
        <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>